<nz-form-item>
  <nz-form-label [nzLg]="2" nzFor="headers">{{ fieldname }}</nz-form-label>
  <nz-form-control [nzLg]="2">
    <button nz-button nzType="dashed" (click)="addItem()"><i nz-icon nzType="plus"></i> Add</button>
  </nz-form-control>
</nz-form-item>
<ng-container [formGroup]="form">
  <nz-form-item *ngIf="list().controls?.length" formArrayName="list">
    <nz-form-control [nzLg]="{ span: 22, offset: 2 }">
      <nz-list nzBordered nzSize="small">
        <nz-list-item *ngFor="let item of list().controls; let i = index">
          <ng-container [formGroupName]="i">
            <nz-form-control [nzLg]="{ span: 4 }"><input nz-input formControlName="key" placeholder="Key" required /> </nz-form-control>
            <nz-form-control [nzLg]="{ span: 18 }"><input nz-input formControlName="value" placeholder="Value" required /></nz-form-control>
            <nz-form-control [nzLg]="{ span: 1 }"
              ><button nz-button nzType="dashed" (click)="removeItem(i)"><i nz-icon nzType="minus"></i></button>
            </nz-form-control>
          </ng-container>
        </nz-list-item>
      </nz-list>
    </nz-form-control>
  </nz-form-item>
</ng-container>
