<div class="modal-header">
  <div class="modal-title">View {{ record.name }}</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<div sv-container *ngIf="i" col="2">
  <sv label="ID" col="1">{{ i.id }}</sv>
  <sv label="Token" col="1">{{ i.token }}</sv>
  <sv label="Name" col="1">{{ i.name }}</sv>
  <sv label="Status">{{ i.status | fanyi: 'worker.status' }}</sv>
  <sv label="Engine">{{ i.engine | fanyi: 'worker.engine' }}</sv>
  <sv label="Tags" col="1">{{ i.tags }}</sv>
  <sv label="Batch Size" col="1">{{ i.batchSize }}</sv>
  <sv label="Last Request IP">{{ i.lastRequestIp }}</sv>
  <sv label="Last Request Time">{{ i.lastRequestAt | date: 'yyyy-MM-dd HH:mm:ss' }}</sv>
  <sv label="Create Time">{{ i.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</sv>
  <sv label="Update Time">{{ i.updatedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</sv>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">Close</button>
</div>
